
@{
    ViewBag.Title = "BookShopLKL Project";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .aa-browse-btn {
        display: inline-block;
        font-size: 16px;
        padding: 12px 18px;
        color: #a94442;
    }
    .aa-slider-area {
        margin: 0 auto; /* Căn giữa slider */
        padding: 0 186px; /* Khoảng cách lề trong */
        /*max-width: 1200px;*/ /* Độ rộng tối đa */
        box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
    }

    .seq {
        background-color: #f5f5f5; /* Màu nền slider nếu cần */
        padding: 0; /* Không thêm khoảng cách trong */
        max-width: 100%;
    }
</style>

<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">

                    <!-- single slide item -->
                    @foreach (var item in @ViewBag.Slider)
                    {
                        <li>
                            <div class="seq-model">
                                <img data-seq src="@item.ImageURL" alt="@item.AltText" />
                            </div>
                            <div class="seq-title">
                                @*<span data-seq>@item.OfferTag</span>*@
                                @*<h2 data-seq>@item.Title</h2>*@
                                @*<p data-seq>@item.Description</p>*@
                                @*<a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">@item.BtnText</a>*@
                            </div>
                        </li>
                    }
                    <!-- end single slide item -->

                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" href="" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" href="" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->
<!-- Start Promo section -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section -->
<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#tatcasach" data-toggle="tab">Toàn bộ sách hiện có</a></li>
                                <li><a href="#sachvanhoctrongnuoc" data-toggle="tab">Sách Văn Học Trong Nước</a></li>
                                <li><a href="#sachkinhte" data-toggle="tab">Sách Kinh Tế</a></li>
                                <li><a href="#sachthieunhi" data-toggle="tab">Sách Thiếu Nhi</a></li>
                                <li><a href="#sachvanhocnuocngoai" data-toggle="tab">Sách Văn Học Nước Ngoài</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start all product -->
                                <div class="tab-pane fade in active" id="tatcasach">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.AllProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                        <!-- end start single product item -->

                                    </ul>
                                    @*<a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>*@
                                </div>

                                <!-- Start sachvanhoctrongnuoc product category -->
                                <div class="tab-pane fade" id="sachvanhoctrongnuoc">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.SachVanHocTrongNuocProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                        <!-- end start single product item -->

                                    </ul>
                                    <a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                                </div>

                                <!-- start sachkinhte product category -->
                                <div class="tab-pane fade" id="sachkinhte">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.SachKinhTeProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                        <!-- end start single product item -->

                                    </ul>
                                    <a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                                </div>

                                <!-- start sachthieunhi product category -->
                                <div class="tab-pane fade" id="sachthieunhi">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.SachThieuNhiProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                        <!-- end start single product item -->

                                    </ul>
                                    <a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>

                                </div>

                                <!-- start sachvanhocnuocngoai product category -->
                                <div class="tab-pane fade" id="sachvanhocnuocngoai">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.SachVanHocNuocNgoaiProduct)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                        <!-- end start single product item -->

                                    </ul>
                                    <a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>

                                </div>
                                <!-- / electronic product category -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->
<!-- banner section -->
<section id="aa-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-banner-area">
                        <a href="#"><img src="~/Content/img/HomeBanar.png" alt="book banner img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular section -->
<section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <!-- start prduct navigation -->
                        <ul class="nav nav-tabs aa-products-tab">
                            <li class="active"><a href="#popular" data-toggle="tab">Phổ biến</a></li>
                            <li><a href="#featured" data-toggle="tab">Nổi bật</a></li>
                            <li><a href="#latest" data-toggle="tab">Mới nhất</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Start men popular category -->
                            <div class="tab-pane fade in active" id="popular">
                                <ul class="aa-product-catg aa-popular-slider">
                                    <!-- start single product item -->
                                    @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.SachVanHocTrongNuocProduct)
                                    {
                                        { Html.RenderPartial("_Product", item); }
                                    }
                                    <!-- end start single product item -->

                                </ul>
                                <a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / popular product category -->
                            <!-- start featured product category -->
                            <div class="tab-pane fade" id="featured">
                                <ul class="aa-product-catg aa-featured-slider">
                                    <!-- start single product item -->
                                    @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.SachThieuNhiProduct)
                                    {
                                        { Html.RenderPartial("_Product", item); }
                                    }
                                    <!-- end start single product item -->

                                </ul>
                                <a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / featured product category -->
                            <!-- start latest product category -->
                            <div class="tab-pane fade" id="latest">
                                <ul class="aa-product-catg aa-latest-slider">
                                    <!-- start single product item -->
                                    @foreach (var item in (List<BookShopLKL.Models.Product>)@ViewBag.SachKinhTeProduct)
                                    {
                                        { Html.RenderPartial("_Product", item); }
                                    }
                                    <!-- end start single product item -->

                                </ul>
                                <a class="aa-browse-btn" href="#">Đi đến tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / latest product category -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / popular section -->
